﻿@model WebApplication5.Models.zabanuser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>جزییات</h2>

<div>
    <h4>زبان</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.zabans.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zabans.name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.mizan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mizan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.madrak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.madrak)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.id }) |
    @Html.ActionLink("بازگشت", "Index", new { userid = Model.usersid, rezkary = Model.rezkary, reztahsil = Model.reztahsil }, new { @class = "btn btn-primary" })
</p>
