﻿@model IEnumerable<WebApplication5.Models.sabeghe>
@using GridMvc.Html;
<p>
    @Html.ActionLink("ثبت تحصیلات جدید", "newsabeghe", new { controller = "sabeghes1", action = "newsabeghe", rezkary = ViewBag.rezkary, reztahsil = ViewBag.reztahsil }, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("بازگشت", "Editrez", new { controller = "pdfs1", action = "Editrez", userid = ViewBag.userid, rezkary = ViewBag.rezkary, reztahsil = ViewBag.reztahsil }, new { @class = "btn btn-primary" })
</p>
@Html.Grid(Model).Columns(columns =>
{
columns.Add(foo => foo.sal).Titled("سال").Sortable(true).Filterable(true);
columns.Add().Filterable(true).Sanitized(false).Encoded(false).
                             RenderValueAs(o => @<a class="btn btn-warning" href="/sabeghes1/Delete/@o.id">حذف</a>);
columns.Add().Filterable(true).Sanitized(false).Encoded(false).
                             RenderValueAs(o => @<a class="btn btn-info" href="/sabeghes1/Details/@o.id">جزییات</a>);
columns.Add().Filterable(true).Sanitized(false).Encoded(false).
                             RenderValueAs(o => @<a class="btn btn-success" href="/sabeghes1/Edit/@o.id">تغییر</a>);

}).WithPaging(6)


@section Scripts {
    <script src="~/Scripts/gridmvc.js"></script>
}