﻿
@{
    ViewBag.Title = "ثبت نام";
    Layout = "~/Views/Shared/_login.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../Content/AdminLTE-RTL-master/bootstrap/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../../Content/AdminLTE-RTL-master/dist/css/AdminLTE-rtl.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../../Content/AdminLTE-RTL-master/plugins/iCheck/square/blue.css">
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/app")

    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>


<body class="hold-transition register-page" id="test">

    <form data-bind="submit: callApi">
        <div class="form-group error-messages" data-bind="foreach: errors">
            <p data-bind="text: $data" />
        </div>
    </form>

    <div class="register-box">

        <div class="register-box-body">

            <p class="login-box-msg" style="color:dodgerblue">ثبت نام در سایت</p>

            <form data-bind="submit: register">
                <div class="form-group has-feedback">
                    <label>ایمیل</label>
                    <input class="form-control" type="text" data-bind="value: registerEmail" />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <label>رمز عبور</label>
                    <input class="form-control" type="password" data-bind="value: registerPassword" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <label>تکرار رمز عبور</label>
                    <input class="form-control" type="password" data-bind="value: registerPassword2" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">ثبت نام</button>
                </div>
            </form>

            <p>
                @Html.ActionLink("ورود به سایت", "Login", null, new { @class = "btn btn-info" })
            </p>
            @* Enable this once you have account confirmation enabled for password reset functionality*@
            <p>
            </p>
        </div>
        <!-- /.form-box -->
    </div>
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>


</body>

</html>