﻿@model WebApplication5.Models.pishine

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>حذف</h2>

<h3>ایا از حذف خود اطمینان دارید</h3>
<div>
    <h4>پیشینه شغلی</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.shoghlgrops.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shoghlgrops.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sazmanname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sazmanname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shoro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shoro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tozih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tozih)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-warning" /> |
            @Html.ActionLink("بازگشت", "Index", new { userid = Model.usersid, rezkary = Model.rez}, new { @class = "btn btn-primary" })
        </div>
    }
</div>
