﻿@model WebApplication5.Models.pishine

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>جزییات</h2>

<div>
    <h4>پیشینه شغلی</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.shoghlgrops.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shoghlgrops.name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.sazmanname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sazmanname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shoro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shoro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tozih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tozih)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.id }) |
    @Html.ActionLink("بازگشت", "Index", new { userid = Model.usersid, rezkary = Model.rez }, new { @class = "btn btn-primary" })
</p>
