﻿@model WebApplication5.Models.danesh

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ثبت دانش و مهارت جدید</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>مهارت</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.hoze, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hoze, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hoze, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mizan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mizan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mizan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.madrak, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.madrak, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.madrak, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.rezkary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">*@
                @Html.HiddenFor(model => model.rezkary, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = Convert.ToString(ViewBag.rezkary) } })
                @*@Html.ValidationMessageFor(model => model.rezkary, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.reztahsil, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">*@
                @Html.HiddenFor(model => model.reztahsil, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = Convert.ToString(ViewBag.reztahsil) } })
                @*@Html.ValidationMessageFor(model => model.reztahsil, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ثبت" class="btn btn-success" />@{
                    if (ViewBag.rezkary != 0)
                    {
                        @Html.ActionLink("لغو", "newkary", new { controller = "pdfs1", action = "newkary", rez = ViewBag.rezkary - 1, flag = ViewBag.flag }, new { @class = "btn btn-danger" })

                    }
                    else
                    {
                        @Html.ActionLink("لغو", "newtahsil", new { controller = "pdfs1", action = "newtahsil", rez = ViewBag.reztahsil - 1, flag = ViewBag.flag }, new { @class = "btn btn-danger" })

                    }
                }
            </div>
        </div>
    </div>
                    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
