﻿<!DOCTYPE html>
@{
    Layout = null;
}
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="NEW TEMPLATE - Clean HTML5 and CSS3 responsive template">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>شرکت</title>

    <link rel="shortcut icon" href="img/favicon.ico" />

    <!--============================================== STYLES ==============================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/folder/css/fontello/fontello.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/folder/css/hi-icon.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/folder/css/color.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/folder/css/superfish.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/folder/css/flexslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/folder/css/sequencejs.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/folder/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/folder/css/animation.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/folder/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/folder/css/base.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/folder/css/style.css" />

    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="css/fallback.css" />
    <![endif]-->
    <!--[if lt IE 9]> <script type="text/javascript" src="js/customM.js"></script> <![endif]-->
</head>

<body>

    <div id="loading-mask">
        <div class="loading-img"><img src="~/Content/folder/images/loading4.gif" alt="teamidea" /></div>
    </div>

    <!--============================================== Body Wrapper ==============================================-->
    <div class="body-wrapper">


        <!--============================================== Header ==============================================-->
        <section class="content-section home-slideshow" id="home">
            <div id="sequence">

                <ul class="sequence-canvas">

                    <li class="slide-frame">
                        <div class="slide-bg slide-bg1"></div>
                        <div class="slide-title"><p>با ما رزومه بسازید!</p></div>
                        <div class="slide-text"><p>ساخت رزومه<br />هر آنچه که جویای کار برای معرفی خود نیاز دارد!</p></div>
                    </li><!-- Frame 1 -->

                    <li class="slide-frame">
                        <div class="slide-bg slide-bg2"></div>
                        <div class="slide-title"><p>یک ایده برتر</p></div>
                        <div class="slide-text"><p>رزومه خوب<br />با محتوا و خاص</p></div>
                    </li> <!-- Frame 2 -->

                    <li class="slide-frame">
                        <div class="slide-bg slide-bg3"></div>
                        <div class="slide-title"><p>تغییر دهید!</p></div>
                        <div class="slide-text"><p>براحتی خودرا معرفی کنید<br />ما همراه شما هستیم</p></div>
                    </li><!-- Frame 3 -->

                </ul>
            </div>

            <a href="#service" class="scroll slide-btn">شروع کنید!</a>

        </section>
        <!--============================================== /Header ==============================================-->
        <!--============================================== Nav ==============================================-->
        <nav id="nav" class="nav sliding">
            <div class="container">

                <div class="logo-wrap">
                    <a class="logo" href="index.html"><img src="~/Content/folder/img/logo.png" alt="teamidea" /></a>
                </div>

                <div class="navopener">

                    <ul class="sf-menu">
                        <li><a href="#home" class="scroll">خانه</a></li>

                        <li><a href="#service" class="scroll">خدمات</a></li>
                        <li><a href="/register/Login" class="scroll">ساخت رزومه</a></li>
                    </ul>

                    <!--============================================== Mobile Nav Toggler ==============================================-->
                    <div class="nav-toggle">
                        <a href="#"></a>
                    </div>
                    <!--============================================== /Mobile Nav Toggler ==============================================-->

                </div>

            </div>
        </nav>
        <!--============================================== /Nav ==============================================-->
        <!--============================================== Mobile Menu ==============================================-->
        <div class="mobile-menu">
            <div class="mobile-menu-inner">
                <ul class="menu">
                    <li><a href="#home" class="scroll-mobile">خانه</a></li>
                    <li><a href="#service" class="scroll-mobile">خدمات</a></li>
                    <li><a href="#about" class="scroll-mobile">درباره</a></li>
                    <li><a href="#contact" class="scroll-mobile">تماس با ما</a></li>
                    <li><a href="/register/Login" class="scroll-mobile">ساخت رزومه</a></li>
                </ul>
            </div>
        </div>
        <!--============================================== /Mobile Menu ==============================================-->
        <!--============================================== Service ==============================================-->
        <section id="service" class="p-top-80 p-bottom-60">
            <div class="container">
                <h1 class="standart-title"><span>ر</span>زومه</h1>
                <p class="text-center"><span class="border-center"></span></p>
                <p class="text-bottom">ساخت رزومه کاری/تحصیلی</p>
                <div class="row service-animation">

                    <div class="span3">
                    </div>

                    <div class="span3">
                        <div class="service-block hi-icon-wrap">
                            <div class="top-icon hi-icon-effect-5 hi-icon-effect-5d"><span class="hi-icon hi-icon-pencil"></span></div>
                            <h3>رزومه کاری</h3>
                            <p>برای معرفی خود برای شرکت ها و کارفرمایان نیاز به یک رزومه قوی دارید</p>
                        </div>
                    </div>

                    <div class="span3">
                        <div class="service-block hi-icon-wrap">
                            <div class="top-icon hi-icon-effect-5 hi-icon-effect-5d"><span class="hi-icon hi-icon-pencil"></span></div>
                            <h3>رزومه تحصیلی</h3>
                            <p>برای ادامه تحصیل و معرفی خود برای دانشگاه ها و کارفرمایان باید یک رزومه تحصیلی خوب داشته باشید</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--============================================== /Service ==============================================-->

        <!--============================================== Buy Now ==============================================-->
        <section id="buynow" class="p-top-80 p-bottom-80">
            <div class="container">

                <div class="buy_title">
                    <h2>شرکت مارو دوست داشتی؟</h2>
                    <p>میتونی به راحتی یک رزومه داشته باشی!</p>
                </div>

                <!-- Button -->
                <a href="/register/Login" class="buy_button">رزومه بساز!</a>

            </div>
        </section>
        <!--============================================== /Buy Now ==============================================-->
        <!--============================================== /Footer ==============================================-->
        <section class="footer p-top-60 p-bottom-60">
            <div class="footer-fixed">
                <div class="logo-footer">
                    <a href="#"><img src="~/Content/folder/img/logo_white.png" alt="teamidea" /></a>
                </div>
                <div class="f_text">
                    <p>
                        © @DateTime.Now.DayOfYear تمام حقوق محفوظ است
                    </p>
                    <p>
                        EBICH.HMC@GMAIL.COM
                    </p>
                </div>
            </div>
        </section>
        <!--============================================== /Footer ==============================================-->

    </div>
    <!--============================================== /Body Wrapper ==============================================-->
    <!-- SCRIPTS -->
    <script type="text/javascript" src="~/Content/folder/js/1.8.2.min.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/modernizr.custom.26633.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/sticky.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/superfish.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/jquery.hoverdir.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/spin.min.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/isotope.min.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/flexslider-min.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/jquery.sequence.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/sequencejs.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/easy-pie-chart.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/waypoints.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/owl.carousel.js"></script>
    <script type="text/javascript" src="~/Content/folder/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Content/folder/plugin/jquery.form.js"></script>

     <script type="text/javascript" src="~/Content/folder/js/html5.js"></script> 
    <script type="text/javascript" src="~/Content/folder/js/teamidea.js"></script>
</body>
