﻿@model WebApplication5.Models.viewmodelkary
<!DOCTYPE html>
<html>
<head>
    @{
        Layout = null;
    }

    <!-- Metas -->
    <meta charset="utf-8">
    <title>@Model.user[0].Name</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Css -->
    <link href="~/Content/resume/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/resume/css/magnific-popup.css" type="text/css" rel="stylesheet" media="all" />
    <link href="~/Content/resume/css/font.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/resume/css/base.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/resume/css/main.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/resume/css/owl-carousel/owl.carousel.css" rel="stylesheet" media="all">
    <link href="~/Content/resume/css/owl-carousel/owl.theme.css" rel="stylesheet" media="all">
</head>
<body>

    <!-- Preloader -->
    <div class="loader">
        <!-- Loader inner -->
        <div class="loader-inner">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        <!-- End loader inner -->
    </div>
    <!-- End preloader-->
    <!--Wrapper-->
    <div id="wrapper">
        <!--Home section-->
        <section id="home" class="home">


            <!--Block content-->
            <div class="block-content ">


                <div class="block-teaser block-background-image large overlay" style="background-image:url(../../Content/resume/img/4.jpg)">


                    <!--Container-->
                    <div class="container ">

                        <!--Row-->
                        <div class="row">


                            <div class="col-sm-12 ">
                                <h1 class="white ">@Model.user[0].Name</h1>
                                <h3 class="mt-20 white mb-200"></h3>
                            </div>
                        </div>
                        <!--End row-->
                        <!--Row-->
                        <div class="row">



                            <div class="col-sm-6 t-right">
                                <p class="white short-email">سوالی از من داری؟از من بپرس! <a href="#">@Model.user[0].Email</a> </p>
                            </div>
                        </div>
                        <!--End row-->
                    </div>
                    <!--End container-->
                </div>
            </div>
            <!--End block content-->
        </section>
        <!--End home section-->
        <!--Navigation container-->
        <div class="nav-container base">
            <nav class="main-nav default">

                <!--Container-->
                <div class="container ">
                    <!--Row-->
                    <div class="row">

                        <div class="mobile-menu-holder">
                            <a class="mobile-btn" href="#"><i class="icon-menu"></i></a>
                        </div>

                    </div>
                    <!--End row-->
                </div>
                <!--End container-->
                <!--Container-->
                <div class="container ">
                    <!--Row-->
                    <div class="row">

                        <div class="col-sm-5 t-center">

                            <ul class="menu first">
                                <li><a class="scroll" href="#home">صفحه اصلی<i class="icon-home"></i></a></li>
                                <li><a class="scroll" href="#about">درباره من<i class="icon-user"></i></a></li>
                            </ul>
                        </div>

                        <div class="col-sm-2 pd-0 t-center">
                            <div class="img-profile">
                                <img src="~/MyFiles/@Model.user[0].pictur" alt="">

                            </div>

                            <div class="name-profile">
                                <h5><a class="scroll" href="#home">@Model.user[0].Name<span></span></a></h5>
                            </div>
                        </div>

                        <div class="col-sm-5 t-center">
                            <ul class="menu second">
                                <li><a class="scroll" href="#resume">رزومه<i class="icon-doc-text-inv"></i></a></li>
                                @*
                                    <li><a class="scroll" href="#blog">Blog<i class="icon-chat"></i></a></li>
                                    <li><a class="scroll" href="#contact">Contact<i class="icon-paper-plane"></i></a></li>*@
                            </ul>
                        </div>

                    </div>
                    <!--End row-->


                </div>
                <!--End container-->

            </nav>
        </div>
        <!--End navigation container-->
        <!--About section-->




        <section id="about" class="about">

            <!--Block content-->
            <div class="block-content clearfix">

                <div class="block-about one bg-grey-1 ">

                    <div class="block-title">
                        <h2 class="title">میخوای درباره من بدونی؟</h2>
                    </div>

                    <h5 class="lead mt-40">من @Model.user[0].Name هستم</h5>

                    <p class="mt-20">
                        @Model.user[0].tozih
                    </p>

                </div>

                <div class="block-about two bg-grey-2 ">

                    <div class="block-title">
                        <h2 class="title">اطلاعات شخصی</h2>

                    </div>
                    <ul class="mt-40 info">
                        <li><span>تاریخ تولد</span> : @Model.user[0].D_tavalod</li>
                        <li><span>شماره موبایل</span> : @Model.user[0].Mobile</li>
                        <li><span>ایمیل</span> : @Model.user[0].Email</li>
                        <li><span>شهر</span> : @Model.user[0].shahr</li>
                        <li><span>آدرس</span> : @Model.user[0].Address</li>
                    </ul>
                    @*<ul class="mt-20 socials">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-gplus"></i></a></li>
                            <li><a href="#"><i class="icon-pinterest"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            <li><a href="#"><i class="icon-vimeo"></i></a></li>
                            <li><a href="#"><i class="icon-flickr"></i></a></li>
                        </ul>*@


                </div>


                <div class="block-about three bg-grey-1 ">

                    <div class="block-title">
                        <h2 class="title">تخصص من</h2>
                    </div>

                    <div class="block-expertise mt-40">

                        @{
                            foreach (var item in Model.dan)
                            {
                        <!--Expertise-->
                                <div class="expertise mb-20 clearfix">

                                    <div class="exp-ico">
                                        <span class="ico">

                                        </span>
                                    </div>
                                    <div class="exp-det">
                                        <h6>@item.hoze</h6>
                                        <p><span>میزان تخصص</span> : @item.mizan</p>
                                        <p><span>مدرک مربوطه</span> : @item.madrak</p>
                                    </div>

                                </div>
                        <!--Expertise-->
                            }
                        }

                    </div>

                </div>

            </div>
            <!--End block content-->

        </section>
        <!--End about section-->
        <!--Resume section-->
        <section id="resume" class="resume pt-100 pb-80">


            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row">

                    <div class="col-md-12">

                        <div class="block-title mb-60">
                            <h2 class="title">رزومه من!!</h2>
                        </div>
                    </div>

                </div>
                <!--End row-->
                <!--Row-->
                <div class="row masonry">


                    <!--Block content-->
                    <div class="block-content">


                        <div class="col-md-4 col-sm-6 resume-boxe masonry">

                            <div class="inner-resume-boxe">

                                <div class="block-icon"><i class="ic-toolbox"></i></div>
                                <div class="block-title">
                                    <h3 class="title medium">پیشینه پژوهشی</h3>
                                </div>

                                <div class="timeline mt-40">
                                    @{
                                        foreach (var item in Model.pish)
                                        {
                                            <div class="exp">
                                                <div class="hgroup mb-5">
                                                    <h4>@item.title </h4>
                                                    <h6>@item.shoro &ndash; @item.payan</h6>
                                                </div>
                                                <p>
                                                    @item.tozih
                                                </p>
                                            </div>
                                        }
                                    }


                                </div>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-6 resume-boxe masonry">
                            <div class="inner-resume-boxe">
                                <div class="block-icon"><i class="ic-pencil"></i></div>
                                <div class="block-title">
                                    <h3 class="title medium">تحصیلات</h3>
                                </div>
                                <div class="timeline mt-40">
                                    @{
                                        foreach (var item in Model.tah)
                                        {
                                            <div class="edu">
                                                <div class="hgroup mb-5">
                                                    <h4>@item.uni &ndash; @item.maghta </h4>
                                                    <h6>@item.shoro &ndash; @item.payan</h6>
                                                </div>
                                                <p>
                                                    @item.tozih
                                                </p>
                                            </div>
                                        }
                                    }


                                </div>
                            </div>
                        </div>

                        <!-- زبان-->

                        <div class="col-md-4 col-sm-6 resume-boxe masonry">
                            <div class="inner-resume-boxe">
                                <div class="block-icon"><i class="ic-mic"></i></div>
                                <div class="block-title">
                                    <h3 class="title medium">زبان</h3>
                                </div>
                                <div class="skills mt-40 ">
                                    <ul class="skill-list clearfix">
                                        @{
                                            foreach (var item in Model.zaban)
                                            {
                                                <li>
                                                    <h4>@item.zabans.name</h4>
                                                    @if (item.mizan == "ضعیف")
                                                    {
                                                        <div class="rating">
                                                            <span></span>
                                                            <span class="transparent"></span>
                                                            <span class="transparent"></span>
                                                            <span class="transparent"></span>
                                                            <span class="transparent"></span>
                                                        </div>
                                                    }
                                                    @if (item.mizan == "متوسط")
                                                    {
                                                        <div class="rating">
                                                            <span></span>
                                                            <span></span>
                                                            <span class="transparent"></span>
                                                            <span class="transparent"></span>
                                                            <span class="transparent"></span>
                                                        </div>
                                                    }
                                                    @if (item.mizan == "خوب")
                                                    {
                                                        <div class="rating">
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span class="transparent"></span>
                                                        </div>
                                                    }
                                                    @if (item.mizan == "عالی")
                                                    {
                                                        <div class="rating">
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                    }
                                                </li>
                                            }
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- زبان-->

                        <div class="col-md-4 col-sm-6 resume-boxe masonry">
                            <div class="inner-resume-boxe">
                                <div class="block-icon"><i class="ic-telescope"></i></div>
                                <div class="block-title">
                                    <h3 class="title medium">مهارت نرم افزاری</h3>
                                </div>

                                <div class="skills mt-40 ">
                                    <ul class="skill-list clearfix">
                                        @{
                                            foreach (var item in Model.narm)
                                            {
                                                <li>
                                                    <h4>@item.title</h4>
                                                    @if (item.mizan == "ضعیف")
                                                    {
                                                        <div class="rating">
                                                            <span></span>
                                                            <span class="transparent"></span>
                                                            <span class="transparent"></span>
                                                            <span class="transparent"></span>
                                                            <span class="transparent"></span>
                                                        </div>
                                                    }
                                                    @if (item.mizan == "متوسط")
                                                    {
                                                        <div class="rating">
                                                            <span></span>
                                                            <span></span>
                                                            <span class="transparent"></span>
                                                            <span class="transparent"></span>
                                                            <span class="transparent"></span>
                                                        </div>
                                                    }
                                                    @if (item.mizan == "خوب")
                                                    {
                                                        <div class="rating">
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span class="transparent"></span>
                                                        </div>
                                                    }
                                                    @if (item.mizan == "عالی")
                                                    {
                                                        <div class="rating">
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                    }
                                                </li>
                                            }
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 resume-boxe masonry">

                            <div class="inner-resume-boxe">
                                <div class="block-icon"><i class="ic-wallet"></i></div>
                                <div class="block-title">
                                    <h3 class="title medium">پروژه ها</h3>
                                </div>
                                <div class="timeline mt-40">
                                    @{
                                        foreach (var item in Model.proj)
                                        {
                                            <div class="exp">
                                                <div class="hgroup mb-5">
                                                    <h4>@item.title &ndash; @item.semat</h4>
                                                    <h6>@item.sal</h6>
                                                </div>
                                                <p>
                                                    @item.tozih
                                                </p>
                                            </div>
                                        }
                                    }


                                </div>

                            </div>
                        </div>

                    </div>
                    <!--End block content-->
                </div>
                <!--End row-->
            </div>
            <!--End container-->
        </section>
        <!--End resume section-->
        <!--Footer-->
        <footer class="footer t-center pt-60 pb-60">

            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row">

                    <div class="col-md-12">


                        <hr>

                        <p class="pt-20">&copy; تمام حقوق محفوظ است.</p>
                        <hr />
                        <a href="#">EBICH.HMC@GMAIL.COM</a>
                    </div>

                </div>
                <!--End row-->
            </div>
            <!--End container-->


        </footer>
        <!--End footer-->
    </div>
    <!--End wrapper-->
    <!--Javascript-->
    <script src="~/Content/resume/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="~/Content/resume/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/resume/js/owl.carousel.js" type="text/javascript"></script>
    <script src="~/Content/resume/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script src="~/Content/resume/js/masonry.min.js" type="text/javascript"></script>
    <script src="~/Content/resume/js/jquery.smooth-scroll.js" type="text/javascript"></script>
    <script src="~/Content/resume/js/jquery.appear.min.js" type="text/javascript"></script>
    <script src="~/Content/resume/js/timer.js" type="text/javascript"></script>
    <script src="~/Content/resume/js/placeholders.min.js" type="text/javascript"></script>
    <script src="~/Content/resume/js/instafeed.min.js" type="text/javascript"></script>
    <script src="~/Content/resume/js/easing.js" type="text/javascript"></script>
    <script src="~/Content/resume/js/jquery.ui.totop.min.js" type="text/javascript"></script>
    <script src="~/Content/resume/js/script.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script>

        (function ($) {
            "use strict";



            // Instagram feed setup

            var instaFeed = new Instafeed({
                get: 'user',
                userId: '305801553',
                accessToken: '305801553.1677ed0.3d872300c10c4ff687868875ee8abc5d',
                limit: 5,
                template: '<li><a href="{{link}}"><img src="{{image}}"/></a></li>'
            });
            instaFeed.run();






            // Google map location

            var styles = [
                            {
                                stylers: [
                                    { saturation: -100 }

                                ]
                            }, {
                                featureType: 'road',
                                elementType: 'geometry',
                                stylers: [
                                    { hue: "#74b7b0" },
                                    { visibility: 'simplified' }
                                ]
                            }, {
                                featureType: 'road',
                                elementType: 'labels',
                                stylers: [
                                    { visibility: 'on' }
                                ]
                            }
            ],

                           lat = -33.867487,
                           lng = 151.20699,

                          customMap = new google.maps.StyledMapType(styles,
                              { name: 'Styled Map' }),
                          mapOptions = {
                              zoom: 14,
                              scrollwheel: false,
                              disableDefaultUI: true,
                              center: new google.maps.LatLng(lat, lng),
                              mapTypeControlOptions: {
                                  mapTypeIds: [google.maps.MapTypeId.ROADMAP]
                              }
                          },
                          map = new google.maps.Map(document.getElementById('map'), mapOptions),
                          myLatlng = new google.maps.LatLng(lat, lng),




                          marker = new google.maps.Marker({
                              position: myLatlng,
                              map: map,
                              icon: {
                                  url: 'img/marker.png',
                                  scaledSize: new google.maps.Size(36, 58)
                              }
                          });
            map.mapTypes.set('map_style', customMap);
            map.setMapTypeId('map_style');

        })(jQuery);

    </script>
    <!-- Google analytics -->
    <!-- End google analytics -->

</body>
</html>
