﻿@model WebApplication5.Models.tahsil

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>مخشصات تحصیلی جدید</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>مشخصات تحصیلی خود را وارد نمایید</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.reshteh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.reshteh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.reshteh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gerayesh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gerayesh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gerayesh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.uni, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.uni, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.uni, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.maghta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.maghta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.maghta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.moadel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.moadel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.moadel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.shoro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.shoro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.shoro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.payan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.payan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.payan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tozih, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tozih, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tozih, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.rezkary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">*@
                @Html.HiddenFor(model => model.rezkary, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.rezkary } })
                @*@Html.ValidationMessageFor(model => model.rezkary, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.reztahsil, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">*@
                @Html.HiddenFor(model => model.reztahsil, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.reztahsil } })
                @*@Html.ValidationMessageFor(model => model.reztahsil, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ثبت" class="btn btn-success" />
                @{
                    if (ViewBag.rezkary != 0)
                    {
                        @Html.ActionLink("لغو", "newkary", new { controller = "pdfs1", action = "newkary", rez = ViewBag.rezkary - 1, flag = ViewBag.flag }, new { @class = "btn btn-danger" })
                    }
                    else
                    {
                        @Html.ActionLink("لغو", "newtahsil", new { controller = "pdfs1", action = "newtahsil", rez = ViewBag.reztahsil - 1, flag = ViewBag.flag }, new { @class = "btn btn-danger" })
                    }
                }
            </div>
        </div>
    </div>
                    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
