﻿@model WebApplication5.Models.tahsil

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>حذف</h2>

<h3>آیا از حذف خود اطمینان دارید؟</h3>
<div>
    <h4>تحصیلات</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reshteh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reshteh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gerayesh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gerayesh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maghta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maghta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moadel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moadel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shoro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shoro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tozih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tozih)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
                @Html.ActionLink("انصراف و بازگشت", "Index", new { userid = Model.usersid, rezkary = Model.rezkary, reztahsil = Model.reztahsil }, new { @class = "btn btn-primary" })
        </div>
    }
</div>
