﻿@model WebApplication5.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shenasname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shenasname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D_tavalod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_tavalod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mojarad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mojarad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jens)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.khedmat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khedmat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shahr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shahr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eshteghal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eshteghal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pictur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pictur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tozih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tozih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alaghe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alaghe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mahalkar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mahalkar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hoghogh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoghogh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tedadrezkary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tedadrezkary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tedadreztahsil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tedadreztahsil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEndDateUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
