﻿@model IEnumerable<WebApplication5.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shenasname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.D_tavalod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mojarad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jens)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.khedmat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shahr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eshteghal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pictur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tozih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alaghe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mahalkar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoghogh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tedadrezkary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tedadreztahsil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shenasname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.D_tavalod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mojarad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jens)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.khedmat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shahr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eshteghal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pictur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tozih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alaghe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mahalkar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoghogh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.profil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tedadrezkary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tedadreztahsil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessFailedCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
