﻿@model WebApplication5.Models.pdf

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>pdf</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usersid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usersid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pdfname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pdfname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rezkary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rezkary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reztahsil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reztahsil)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
