﻿
@{
    ViewBag.Title = "newkary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ویرایش رزومه کاری شماره @ViewBag.rez</h2>

<div class="btn-group btn-group-justified">
    <div class="btn-group col-md-5">
        @Html.ActionLink("پیشینه تحصیلی", "Index", new { @controller = "tahsils1", action = "Index", rezkary = ViewBag.rezkary, reztahsil = ViewBag.reztahsil, userid = ViewBag.userid }, new { @class = "btn btn-info" })
    </div>
    <div class="btn-group col-md-5">
        @Html.ActionLink("سابقه اموزشی", "Index", new { @controller = "sabeghes1", action = "Index", rezkary = ViewBag.rezkary, reztahsil = ViewBag.reztahsil, userid = ViewBag.userid }, new { @class = "btn btn-primary" })
    </div>
</div>
<br />
<br />
<div class="btn-group btn-group-justified">
    <div class="btn-group col-md-5">
        @Html.ActionLink("دانش و مهارت", "Index", new { @controller = "daneshes1", action = "Index", rezkary = ViewBag.rezkary, reztahsil = ViewBag.reztahsil, userid = ViewBag.userid }, new { @class = "btn btn-primary" })
    </div>
    <div class="btn-group col-md-5">
        @Html.ActionLink("زبان", "Index", new { @controller = "zabanusers1", action = "Index", rezkary = ViewBag.rezkary, reztahsil = ViewBag.reztahsil, userid = ViewBag.userid }, new { @class = "btn btn-info" })
    </div>
</div>
<br />
<br />

<div class="btn-group btn-group-justified">
    <div class="btn-group col-md-5">
        @Html.ActionLink("تسلط نرم افزاری", "Index", new { @controller = "narms1", action = "Index", rezkary = ViewBag.rezkary, userid = ViewBag.userid }, new { @class = "btn btn-info" })
    </div>
    <div class="btn-group col-md-5">
        @Html.ActionLink("پروژه", "Index", new { @controller = "projects1", action = "Index", rezkary = ViewBag.rezkary, userid = ViewBag.userid }, new { @class = "btn btn-primary" })
    </div>
</div>
<br />
<br />
<div class="btn-group btn-group-justified">
    <div class="btn-group col-md-5">
        @Html.ActionLink("پیشینه شغلی", "Index", new { @controller = "pishines1", action = "Index", rezkary = ViewBag.rezkary, userid = ViewBag.userid }, new { @class = "btn btn-primary" })
    </div>
    <div class="btn-group col-md-5">
        @Html.ActionLink("شغل یوزر", "Index", new { @controller = "shoghlusers1", action = "Index", rezkary = ViewBag.rezkary, userid = ViewBag.userid }, new { @class = "btn btn-info" })
    </div>
</div>
<br />
<br />

<div class="btn-group btn-group-justified">
    <div class="btn-group">
        @Html.ActionLink("افتخارات", "Index", new { @controller = "eftekhars1", action = "Index", rezkary = ViewBag.rezkary, reztahsil = ViewBag.reztahsil, userid = ViewBag.userid }, new { @class = "btn btn-primary" })
    </div>
</div> 