﻿@model IEnumerable<WebApplication5.Models.pdf>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
}
<h2>Index</h2>
<p>
    تعداد روزمه های کاری=@ViewBag.rezkary
</p>
<p>
    تعداد روزمه های تحصیلی=@ViewBag.reztahsil
</p>
@Html.Grid(Model).Columns(columns =>
{
columns.Add(foo => foo.pdfname).Titled("نام").Sortable(true).Filterable(true);
  
    columns.Add().Filterable(true).Sanitized(false).Encoded(false).
                                             RenderValueAs(o => @<a class="btn btn-info" href="/pdfs1/Editrez/?userid=@o.usersid&rezkary=@o.rezkary&reztahsil=@o.reztahsil">ویرایش</a>);
        columns.Add().Filterable(true).Sanitized(false).Encoded(false).
                                                 RenderValueAs(o => @<a class="btn btn-success" href="/pdfs1/Simple/?userid=@o.usersid&rezkary=@o.rezkary&reztahsil=@o.reztahsil">دریافت pdf</a>);

}).WithPaging(6)


@section Scripts {
    <script src="~/Scripts/gridmvc.js"></script>
}