﻿
@{
    ViewBag.Title = "newtahsil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ساخت رزومه تحصیلی شماره @{
    int d = ViewBag.reztahsil + 1;
}
@d</h2>

<div class="btn-group btn-group-justified">
    <div class="btn-group col-md-5">
        @Html.ActionLink("پیشینه تحصیلی جدید", "Create", new { @controller = "tahsils1", action = "Create", rezkary = ViewBag.rezkary, reztahsil = ViewBag.reztahsil, flag = ViewBag.flag }, new { @class = "btn btn-info" })
    </div>
    <div class="btn-group col-md-5">
        @Html.ActionLink("سابقه اموزشی جدید", "Create", new { @controller = "sabeghes1", action = "Create", rezkary = ViewBag.rezkary, reztahsil = ViewBag.reztahsil, flag = ViewBag.flag }, new { @class = "btn btn-primary" })
    </div>
</div>
<br />
<br />
<div class="btn-group btn-group-justified">
    <div class="btn-group col-md-5">
        @Html.ActionLink("دانش و مهارت جدید", "Create", new { @controller = "daneshes1", action = "Create", rezkary = ViewBag.rezkary, reztahsil = ViewBag.reztahsil, flag = ViewBag.flag }, new { @class = "btn btn-primary" })
    </div>
    <div class="btn-group col-md-5">
        @Html.ActionLink("زبان جدید", "Create", new { @controller = "zabanusers1", action = "Create", rezkary = ViewBag.rezkary, reztahsil = ViewBag.reztahsil, flag = ViewBag.flag }, new { @class = "btn btn-info" })
    </div>
</div>
<br />
<br />
<div class="btn-group btn-group-justified">
    <div class="btn-group">
        @Html.ActionLink("افتخارات جدید", "Create", new { @controller = "eftekhars1", action = "Create", rezkary = ViewBag.rezkary, reztahsil = ViewBag.reztahsil, flag = ViewBag.flag }, new { @class = "btn btn-primary" })
    </div>
</div> 