﻿@using System.Data.Entity;
@using WebApplication5.Models;
@using WebApplication5.Controllers;

<!DOCTYPE html>
<html>
<head>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../Content/AdminLTE-RTL-master/bootstrap/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../../Content/AdminLTE-RTL-master/dist/css/AdminLTE-rtl.css">
    <link rel="stylesheet" href="../../Content/AdminLTE-RTL-master/dist/css/skins/_all-skins-rtl.css">


    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("style", required: false)
</head>




<body class="hold-transition skin-blue  sidebar-mini" style="font-family: 'IRANSans-Light'">
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->


            <a class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>رزومه</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>ساخت</b>رزومه</span>
            </a>


            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu" style="float:right;">
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                @{
                    ApplicationDbContext db = new ApplicationDbContext();

                    checkController v = new checkController();
                    string f = v.getcheck();
                    int rezkary = 0;
                    int reztahsil = 0;
                    if (f != "")
                    {
                        db.Users.Where(r => r.Email == f).Load();
                        string id = db.Users.Local[0].Id;
                        rezkary = db.Users.Local[0].tedadrezkary;
                        reztahsil = db.Users.Local[0].tedadreztahsil;
                    }
                    <ul class="sidebar-menu">

                        <li class="header">منوی اصلی</li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-laptop"></i>
                                <span>خانه</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a>@Html.ActionLink("صفحه اصلی", "show", "pdfs1")</a></li>
                            </ul>
                        </li>
                        @*@if (myuser.sath1 == true)
                            {*@
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i> <span>رزومه</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>



                            @{

                                if (reztahsil == 0 && rezkary == 0)
                                {
                                    <ul class="treeview-menu">
                                        <li>
                                            <a>
                                                @Html.ActionLink("ثبت رزومه تحصیلی جدید", "newtahsil", new { @controller = "pdfs1", action = "newtahsil", rez = reztahsil, flag = 3 })
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                @Html.ActionLink("ثبت رزومه کاری جدید", "newkary", new { @controller = "pdfs1", action = "newkary", rez = rezkary, flag = 2 })
                                            </a>
                                        </li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="treeview-menu">
                                        <li>
                                            <a>
                                                @Html.ActionLink("ثبت رزومه تحصیلی جدید", "newtahsil", new { @controller = "pdfs1", action = "newtahsil", rez = reztahsil, flag = 0 })
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                @Html.ActionLink("ثبت رزومه کاری جدید", "newkary", new { @controller = "pdfs1", action = "newkary", rez = rezkary, flag = 0 })
                                            </a>
                                        </li>
                                    </ul>
                                }

                                <ul class="treeview-menu">
                                    <li><a>@Html.ActionLink("ویرایش رزومه", "Index", "pdfs1")</a></li>
                                </ul>

                            }





                        </li>
                        @*}
                            @if (myuser.sath2 == true)
                            {*@
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-edit"></i> <span>اطلاعات پایه</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">

                                <li><a>@Html.ActionLink("ویرایش اطلاعات پایه", "Edit", "ApplicationUsers")</a></li>

                            </ul>
                        </li>
                        
                    </ul>
                    @*}*@

                }
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                @*<div class="callout callout-info">
                        <h4>Tip!</h4>
                        <p>
                            Add the sidebar-collapse class to the body tag to get this layout. You should combine this option with a
                            fixed layout if you have a long sidebar. Doing that will prevent your page content from getting stretched
                            vertically.
                        </p>
                    </div>*@
                <!-- Default box -->
                <div class="box box-footer ">
                    @RenderBody()
                </div>
                <!-- /.box -->
            </section>
            <!-- /.content -->
            <p>&copy; @DateTime.Now.Year</p>
            <p>EBICH.HMC@GMAIL.COM</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="../../Content/AdminLTE-RTL-master/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="../../Content/AdminLTE-RTL-master/bootstrap/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="../../Content/AdminLTE-RTL-master/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="../../Content/AdminLTE-RTL-master/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="../../Content/AdminLTE-RTL-master/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../Content/AdminLTE-RTL-master/dist/js/demo.js"></script>
    <script src="../../Content/AdminLTE-RTL-master/dist/js/demo.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>