﻿@model WebApplication5.Models.shoghluser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>جزییات</h2>

<div>
    <h4>اطلاعات شغلی</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.shoghls.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shoghls.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.id }) |
    @Html.ActionLink("بازگشت", "Index", new { userid = Model.usersid, rezkary = Model.rez }, new { @class = "btn btn-primary" })
</p>
