﻿@model IEnumerable<WebApplication5.Models.shoghluser>
@using GridMvc.Html;
<p>
    @Html.ActionLink("ثبت تحصیلات جدید", "newshoghluser", new { controller = "shoghlusers1", action = "newshoghluser", rezkary = ViewBag.rezkary}, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("بازگشت", "Editrez", new { controller = "pdfs1", action = "Editrez", userid = ViewBag.userid, rezkary = ViewBag.rezkary, reztahsil = 0 }, new { @class = "btn btn-primary" })
</p>
@Html.Grid(Model).Columns(columns =>
{
columns.Add(foo => foo.shoghls.name).Titled("شغل").Sortable(true).Filterable(true);
columns.Add().Filterable(true).Sanitized(false).Encoded(false).
                             RenderValueAs(o => @<a class="btn btn-warning" href="/shoghlusers1/Delete/@o.id">حذف</a>);
columns.Add().Filterable(true).Sanitized(false).Encoded(false).
                             RenderValueAs(o => @<a class="btn btn-info" href="/shoghlusers1/Details/@o.id">جزییات</a>);
columns.Add().Filterable(true).Sanitized(false).Encoded(false).
                             RenderValueAs(o => @<a class="btn btn-success" href="/shoghlusers1/Edit/@o.id">تغییر</a>);

}).WithPaging(6)


@section Scripts {
    <script src="~/Scripts/gridmvc.js"></script>
}

